@use "../../abstracts/" as *;

.landing-page .section-hero {
    --switcher-basis: 43.75rem;

    &__image-container {
        display: flex;
    }

    &__image {
        min-height: 27.375rem;
        object-fit: cover;

        @include mq(medium) {
            min-height: unset;
        }
    }
}