$-ff-montserrat: "Montserrat", sans-serif;
$-ff-inter: "Inter", sans-serif;

$font-family-base: $-ff-inter;
$font-family-accent: $-ff-montserrat;

$font-sizes: (
    "small": ("700": 2.625rem,
        "600": 2.25rem,
        "500": 1.5rem,
        "400": 1.125rem,
        "300": 1rem,
        "200": 0.875rem),
    "large": ("700": 3.5rem,
        "600": 2.625rem,
    )
);

$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);

$-fw-400: 400;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-bold: $-fw-700;