@use "../abstracts/" as *;

.compare-table {

    width: 100%;
    overflow: auto;

    &__layout {
        min-width: 50rem;
        display: grid;
        grid-template-columns: repeat(var(--compare-table-columns, 4), 1fr);
        padding-block-end: 2.8125rem
    }

    &__title {
        text-align: center;
        width: 100%;

        @include mq(medium) {
            display: none;
        }
    }

    & &__title {
        color: $color-neutral-000;
        display: block;
        text-align: unset;

        @include mq(medium) {
            color: unset;
        }
    }

    &__column {
        align-self: flex-end;
    }

    &__price {
        line-height: 1;
    }

    &__cell {

        & .circle-checkmark {
            margin-inline: auto;
            height: 2.71875rem;
        }

        & .empty-cell {
            height: 2.71875rem;
            justify-self: stretch;
        }
    }

    &__row-title {
        line-height: 2.41;
    }
}