@use "../../abstracts/" as *;

.about-us-page .section-benefits {
    padding-block-start: $size-6;

    &__image-container {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-grow: 40;
        width: 100%;
        justify-content: center;
    }

    &__image {
        max-width: 25rem;
        max-height: 25rem;
        object-fit: cover;
        width: 100%;
    }

    &__layout {
        flex-grow: 64;
    }

    @include mq(medium) {
        padding-block-start: $section-padding-block;
    }
}